/Bitmap.class
/Camera.class
/InputScreen$1.class
/InputScreen$ImageListener.class
/InputScreen.class
/MenuBar$MenuListener.class
/MenuBar.class
/OutputScreen$1.class
/OutputScreen.class
/Point.class
/SheetProcessor.class
/Transformation.class
